/install_old/.htaccess
/install_old/assets/css/screen-rtl.css
/install_old/config/application.php
/install_old/config/autoload.php
/install_old/config/config.php
/install_old/config/constants.php
/install_old/config/database.php
/install_old/config/doctypes.php
/install_old/config/foreign_chars.php
/install_old/config/hooks.php
/install_old/config/index.html
/install_old/config/migrations.php
/install_old/config/mimes.php
/install_old/config/routes.php
/install_old/config/smileys.php
/install_old/config/user_agents.php
/install_old/controllers/install.php
/install_old/core/MY_Model.php
/install_old/errors/error_404.php
/install_old/errors/error_db.php
/install_old/errors/error_general.php
/install_old/errors/error_php.php
/install_old/errors/index.html
/install_old/errors/offline.php
/install_old/helpers/config_file_helper.php
/install_old/helpers/install_helper.php
/install_old/index.php
/install_old/language/english/application_lang.php
/install_old/language/english/install_lang.php
/install_old/language/persian/application_lang.php
/install_old/language/persian/install_lang.php
/install_old/language/portuguese/application_lang.php
/install_old/language/portuguese/install_lang.php
/install_old/libraries/Migrations.php
/install_old/libraries/events.php
/install_old/models/permissions/permission_model.php
/install_old/models/roles/role_permission_model.php
/install_old/views/footer.php
/install_old/views/header.php
/install_old/views/images/bonfire_logo.png
/install_old/views/install/account.php
/install_old/views/install/index.php
/install_old/views/install/success.php
/install_old/views/screen-rtl.css
/install_old/views/screen.css
# Ignore OS Related/Generic
Thumbs.db
Desktop.ini
._*
Icon?
.DS_Store
*.bak
*.tmproj
*.tmproject

# IDEs project files/settings
nbproject/
nbactions.xml
.settings/
.project
.metadata
.properties

# Ignore Bonfire Application Specifics
bonfire/application/logs/*
!bonfire/application/logs/index.html
bonfire/application/cache/*
!bonfire/application/cache/index.html
assets/cache/*
!assets/cache/index.html

# Ignore Custom config files
bonfire/application/config/development/*
bonfire/application/config/testing/*
bonfire/application/config/production/*

# but leave the config folders there
!bonfire/application/config/development/index.html
!bonfire/application/config/testing/index.html
!bonfire/application/config/production/index.html

# Helping GUIs omiting subtree repos
bonfire/modules/**/.git/*
bonfire/modules/**/.hg/*

# Ignore all custom modules.
bonfire/modules/*
# Except the following modules:

# Remove PHPStorm Project folders
bonfire/.ideas
.idea/*
