/* BUTTONS */
.button,
a.button,
input[type=submit],
.button-group {
	padding: 0.5em 1em;
	position:relative;
	top: -1px;
	margin-left:10px;
	font-weight:bold;
	font-size:12px;
	line-height: 0.95;
	color:#333;
	text-shadow:1px 1px 0 #fff;
	white-space:nowrap;
	border:none;
	overflow:visible;
	background:#ddd;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1');
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#e1e1e1));
	background:-moz-linear-gradient(-90deg,#fff,#e1e1e1);
	border: 1px solid #cbcbcb;
	border-bottom:1px solid #ababab;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
}
.button:hover,
input[type=submit]:hover {
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);
	box-shadow:0 1px 4px rgba(0,0,0,0.3);
	border: 1px solid #ababab;
	border-bottom: 1px solid #8b8b8b;
	text-decoration: none;
}
.button:active,
input[type=submit]:active {
	border: 1px solid #ababab;
	border-top: 1px solid #8b8b8b;
	border-left: 1px solid #8b8b8b;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#b1b1b1');
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#eee),to(#b1b1b1));
	background:-moz-linear-gradient(-90deg,#eee,#b1b1b1);
}
.button-group {
	padding: 0;
	border: 1px solid #ababab;
	border-bottom:1px solid #cbcbcb;
	overflow: hidden;
}
.button-group a {
	display: inline-block;
	padding: 0.5em 1em;
	color: #999;
	text-shadow:1px 1px 0 #fff;
	font-weight: normal;
	margin: 0;
	cursor: pointer;
}
.button-group a:hover {
	color: #000;
}
.button-group a:active {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#dddddd');
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#f1f1f1),to(#ddd));
	background:-moz-linear-gradient(-90deg,#f1f1f1,#ddd);
	border: 0;
}
.button-group a.current, .button-group a:active.current {
	color: #555;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#ffffff');
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#e1e1e1),to(#fff));
	background:-moz-linear-gradient(-90deg,#e1e1e1,#fff);
}
.button-group a.current:hover {
	text-decoration: none;
	cursor: default;
}

.button.good:hover {
	color: #fff;
	background: #36b330;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#339900', endColorstr='#006633');
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#339900),to(#006633));
	background:-moz-linear-gradient(-90deg,#339900,#006633);
	text-shadow:-1px -1px 0 #131;
	border-bottom-color: #003333;
}
.delete button:hover,
.delete a.button:hover {
	color:#fff;
	text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
	background:#b33630;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cc3f39',endColorstr='#931610');
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#cc3f39),to(#931610));
	background:-moz-linear-gradient(-90deg,#cc3f39,#931610);
	border-bottom-color:#cd504a;
}
.delete h3 {
	color: #931610;
}