/* !NOTIFICATIONS */
.notification {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin:  15px 20px 20px 20px;
	padding: 5px 20px;
}
#message {
	position: absolute;
	top: 35px;
	left: 0;
	width: 100%;
	font-size: inherit;
	z-index: 1000;
	text-align: center;
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	overflow: hidden;
}
#message .notification {
	display: inline-block;
	margin: 0 auto;
	width: auto !important;
	max-width: 25em;
}
.notification p, .notification ul {
	margin: 0 auto;
	padding: 0;
	line-height: 1.5;
	text-indent: none;
	max-width: none;
}
.attention {
    background: #fffbcc;
    border-color: #e6db55;
    color: #666452;
}
.information {
	background: #dbe3f0;
	border-color: #a2b4ee;
	color: #383b46;
}
.success {
	background: #d5f0ce;
	border-color: #9adf8f;
	color: #556652;
}
.error {
	background-color: #f0cece;
	border-color:  #df8f8f;
	color:  #533232;
}
p.error {
	color: #ff3f3f;
	background-color: transparent;
	font-size: 75%;
}
.notification h1 {
	margin: 0;
}
.notification.small {
	margin-top: 7px;
	padding: 0 20px;
}
.notification.small p {
	margin: 0 !important;
	font-size: 85%;
	line-height: 2.5;
}