#debug { clear: both; position: absolute;  bottom: 0; left: 0; right: 0; z-index: 1000; opacity: 0.85; }
#codeigniter-profiler { position: relative; clear: both; background:#101010; padding: 0 5px; font-family: Helvetica, sans-serif; font-size: 10px !important; line-height: 12px; }
#debug:hover { opacity: 1.0; }

.ci-profiler-box { padding: 10px; margin: 0 0 10px 0; max-height: 400px; overflow: auto; color:#fff; font-family: Monaco, 'Lucida Console', 'Courier New', monospace; font-size: 11px !important; }
.ci-profiler-box h2 { font-family: Helvetica, sans-serif; font-weight: normal; }

#ci-profiler-menu a:link,#ci-profiler-menu a:visited { display: inline-block; padding: 7px 0; margin: 0; color:#ccc; text-decoration: none; font-weight: lighter; cursor: pointer; text-align: center; width: 15.5%; border-bottom: 4px solid#444; }
#ci-profiler-menu a:hover,#ci-profiler-menu a.current { background-color:#222; border-color:#999; }
#ci-profiler-menu a span { display: block; font-weight: bold; font-size: 16px !important; line-height: 1.2; }

#ci-profiler-menu-time span,#ci-profiler-benchmarks h2 { color:#B72F09; }
#ci-profiler-menu-memory span,#ci-profiler-memory h2 { color:#953FA1; }
#ci-profiler-menu-queries span,#ci-profiler-queries h2 { color:#3769A0; }
#ci-profiler-menu-vars span,#ci-profiler-vars h2 { color:#D28C00; }
#ci-profiler-menu-files span,#ci-profiler-files h2 { color:#5a8616; }
#ci-profiler-menu-console span,#ci-profiler-console h2 { color:#5a8616; }

#codeigniter-profiler table { width: 100%; }
#codeigniter-profiler table.main td { padding: 7px 15px; text-align: left; vertical-align: top; color:#fff; border-bottom: 1px dotted#444; line-height: 1.5; background:#101010 !important; }
#codeigniter-profiler table.main tr:hover td { background:#292929 !important; }
#codeigniter-profiler table.main code { font-family: inherit; padding: 0; background: transparent; border: 0; color:#fff; }

#codeigniter-profiler table td.hilight,#codeigniter-profiler.hilight { color:#FFFD70 !important; }
#codeigniter-profiler table td.faded { color:#aaa !important; }

#ci-profiler-menu-exit { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAIhSURBVDjLlZPrThNRFIWJicmJz6BWiYbIkYDEG0JbBiitDQgm0PuFXqSAtKXtpE2hNuoPTXwSnwtExd6w0pl2OtPlrphKLSXhx07OZM769qy19wwAGLhM1ddC184+d18QMzoq3lfsD3LZ7Y3XbE5DL6Atzuyilc5Ciyd7IHVfgNcDYTQ2tvDr5crn6uLSvX+Av2Lk36FFpSVENDe3OxDZu8apO5rROJDLo30+Nlvj5RnTlVNAKs1aCVFr7b4BPn6Cls21AWgEQlz2+Dl1h7IdA+i97A/geP65WhbmrnZZ0GIJpr6OqZqYAd5/gJpKox4Mg7pD2YoC2b0/54rJQuJZdm6Izcgma4TW1WZ0h+y8BfbyJMwBmSxkjw+VObNanp5h/adwGhaTXF4NWbLj9gEONyCmUZmd10pGgf1/vwcgOT3tUQE0DdicwIod2EmSbwsKE1P8QoDkcHPJ5YESjgBJkYQpIEZ2KEB51Y6y3ojvY+P8XEDN7uKS0w0ltA7QGCWHCxSWWpwyaCeLy0BkA7UXyyg8fIzDoWHeBaDN4tQdSvAVdU1Aok+nsNTipIEVnkywo/FHatVkBoIhnFisOBoZxcGtQd4B0GYJNZsDSiAEadUBCkstPtN3Avs2Msa+Dt9XfxoFSNYF/Bh9gP0bOqHLAm2WUF1YQskwrVFYPWkf3h1iXwbvqGfFPSGW9Eah8HSS9fuZDnS32f71m8KFY7xs/QZyu6TH2+2+FAAAAABJRU5ErkJggg==) 0% 0% no-repeat; padding-left: 20px; position: absolute; right: 5px; top: 10px; }
