/*--------------------------------------------------------------------
// !BASE CLASSES
//-------------------------------------------------------------------*/

.view {
	height: 100%;
	width: 100%;
	padding: 0;
	position: relative;
	overflow: hidden;
	background: #fff;
}

.scrollable {
	height: 100%;
	overflow: auto;
	position: relative;
}

.bar {
	position: relative;
	width: 100%;
	height: 44px;
	background: #202020;
	border-bottom: 1px solid #000;
	font-size: 20px;
	line-height: 44px;
	text-align: center;
	color: #fff;
}
.bottom-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: 0;
	border-top: 1px solid #ddd;
	-webkit-box-shadow: 0px 0px 5px #eee;
}
.with-bottom-bar { bottom: 25px; }

.bar a {
	color: #fff;
}
.bar a:hover { text-decoration: none; }

/* TYPE */
h2.panel-title {
	font-size: 16px;
	line-height: 2.0;
	border-bottom: 1px solid #ddd;
	color: #999;
	margin-bottom: 5px;
}

/* !SPLIT VIEW */
.split-view { background: #777; }
.split-view > div:first-child {
	width: 250px;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}
.split-view > div:last-child {
	position: absolute;
	top: 0;
	left: 251px;
	right: 0;
	bottom: 0;
}

/* !TAB BAR */
.tab-bar a { 
	float: left;
	display: inline-block; 
	height: 100%;
	font-size: 10px;
	font-weight: lighter;
	color: #aaa;
}
.tab-bar a.current {
	background: #2c2c2c;
}

/* !LIST VIEWS */
.list-item {
	border-bottom: 1px solid #ddd;
	padding: 8px 0;
	cursor: pointer;
}
.list-item img {
	margin: 0 10px;
	float: left;
}
.list-item p span {
	color: #999;
}
.list-item p {
	margin-bottom: 0;
	font-size: 12px;
}
.list-item.with-icon p {
	display: inline-block;
	padding: 0;
	width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.list-item.current {
	background: #dbe3f0;
	border-top: 1px solid #aaaabb;
	border-bottom: 1px solid #aaaabb;
}

/* Panel Header */
.panel-header {
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 5px #eee;
	-moz-box-shadow: 0 1px 5px #eee;
	box-shadow: 0 1px 5px #eee;
	position: relative;
	padding: 5px 9px;
}

/* Search - in list views */

.panel-header a.list-search {
	font-size: 12px;
	float: right;
	position: relative;
	top: 4px;
}
.panel-header #search-form {
	border-top: 1px solid #d6d6d6;
	margin-top: 5px;
}
.panel-header input.list-search {
	width: 100%;
	margin: 8px 0 5px 0;
}