/* Basic Typography */
body {
	background-color: #d9dde8;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

.container.well {
	background-color: #ffffff;
}

/* Helpers */
.auto-width {
	width: auto !important;
}
p.intro {
	margin: 0 0 2em 0;
	font-size: 125%;
	color: #777;
	text-align: center;
}
.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}
.text-justify {
	text-align: justify !important;
}
.small {
	font-size: 90%;
	font-weight: lighter;
	line-height: 1.2em;
	color: #999;
}
.big-text {
	font-size: 2.4em;
}
pre {
	margin-top: 18px;
}
.pagination {
	margin-right: 20px;
	margin-top: 0;
}
/* Page Structure */
/* Subnav */
.navbar.navbar-static-top {
	margin-bottom: 1em;
}
#sub-menu .nav {
	margin-bottom: 0;
}

/* Grids */
.row,
.last-column {
	overflow: hidden;
	*overflow: visible;
	*zoom: 1;
}
.row {
	margin-left: 0;
}
.column {
	float: left;
}
.column-right {
	float: right;
}
.size1of1 {
	float: none;
}
.size1of2 {
	width: 50%;
}
.size1of3 {
	width: 33.33333%;
}
.size2of3 {
	width: 66.66666%;
}
.size1of4 {
	width: 25%;
}
.size3of4 {
	width: 75%;
}
.size1of5 {
	width: 20%;
}
.size2of5 {
	width: 40%;
}
.size3of5 {
	width: 60%;
}
.size4of5 {
	width: 80%;
}
.last-column {
	float: none;
	width: auto;
	_position: relative;
	_left: -3px;
	_margin-right: -3px;
}

table .column-check {
	width: 2em;
	text-align: center;
}
tfoot td {
	line-height: 2.1 !important;
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
	background-color: #f5f5f5;
}
