/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video 
{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
}                 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

/* !BASE STYLES */

html, body {
	width: 100%;
	height: 100%;
	max-height: 100%;
	font-size: 100%;
	overflow: hidden;
}
body {
	font-size: 1.0em;
	line-height: 1.4;
	background: #fdfdfd;
	font-family: Helvetica, Arial, sans-serif;
	color: #202020;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bolder;
	color: #444;
	line-height: 2.5em;
}
h1 { font-weight: normal; }
a:link, a:visited {
	text-decoration: none;
	color: #0134C5;
}
a:hover {
	text-decoration: underline;
}

ol, ul {
	margin: 1em;
	list-style-position: inside;
}
p { margin: 0.5em 0; }
b, strong { color: #222; }
.constrained { max-width: 680px !important; }
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.padded {
	padding: 1em 2em;
}

/* !MISC EFFECTS */
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.align-left { float: left; margin: 0 1em 1.5em 0; }
.align-right { float: right; margin: 0 0 1.5em 1em; }

.big-text { font-size: 2.4em; }
.small { font-size: 85%; color: #777; }

/* !BOXES */
.box {
	border: 1px solid #ccd;
	padding: 0.5em 1em;
}
.box.delete {
	border-color: #DCB5B5;
}
.box.create {
	border-color: #aca;
}
.box button,
.box a.button {
	float: right; 
	margin-top: 0.6em;
}

/* BUTTONS */
button,
a.button,
input[type=submit] {
	height:34px;
	padding: 0 1em;
	position:relative;
	top:1px;
	margin-left:10px;
	font-weight:bold;
	font-size:12px;
	line-height: 34px;
	color:#333;
	text-shadow:1px 1px 0 #fff;
	white-space:nowrap;
	border:none;
	overflow:visible;
	background:#ddd;
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#e1e1e1));
	background:-moz-linear-gradient(-90deg,#fff,#e1e1e1);
	border: 1px solid #cbcbcb;
	border-bottom:1px solid #ababab;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);
	box-shadow:0 1px 4px rgba(0,0,0,0.3);
	cursor:pointer;
}
button:hover,
a.button:hover {
	color:#000;
	text-shadow:1px 1px 0 rgba(255,255,255,0.5);
	background:#f7f7f7;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#eeeeee');
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#eee));
	background:-moz-linear-gradient(-90deg,#fff,#eee);
	border-bottom-color:#f7f7f7;
	text-decoration: none;
}
.delete button:hover,
.delete a.button:hover {
	color:#fff;
	text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
	background:#b33630;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cc3f39',endColorstr='#931610');
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#cc3f39),to(#931610));
	background:-moz-linear-gradient(-90deg,#cc3f39,#931610);
	border-bottom-color:#cd504a;
}
.delete h3 {
	color: #931610;
}
.create h3 {
	color: #068300;
}
.button.small,
input[type=submit] {
	padding: 0.3em 1em 0.2em 1em;
	font-size: 12px;
	font-weight: normal;
	line-height: 26px;
	height: 27px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	top: -1px;
}
.button.small:hover,
.button.good:hover,
input[type=submit]:hover {
	color: #fff;
	background: #36b330;
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#339900),to(#006633));
	background:-moz-linear-gradient(-90deg,#339900,#006633);
	text-shadow:-1px -1px 0 #131;
	border-bottom-color: #003333;
}

/* GRIDS */
.row:after,.last-column:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.row{*zoom:1;}
.column{float:left;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.last-column{display:table-cell;float:none;width:auto;*display:block;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px;}

/* !NOTIFICATIONS */
.notification {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin:  10px 0 20px 0;
	padding: 5px 20px;
}
#message {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 0.75em;
	z-index: 100;
	text-align: center;
}
#message .notification {
	display: block;
	margin: 0 auto;
	width: auto !important;
}
.notification p, .notification ul {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	text-indent: none;
}
.attention {
    background: #fffbcc;
    border-color: #e6db55;
    color: #666452;
}
.information {
	background: #dbe3f0;
	border-color: #a2b4ee;
	color: #383b46;
}
.success {
	background: #d5f0ce;
	border-color: #9adf8f;
	color: #556652;
}
.error {
	background-color: #f0cece;
	border-color:  #df8f8f;
	color:  #533232;
}
p.error {
	color: #ff3f3f;
	background-color: transparent;
	font-size: 75%;
}
.notification h1 {
	margin: 0;
}
.notification.small {
	margin-top: 7px;
	padding: 0 20px;
}
.notification.small p {
	margin: 0 !important;
	font-size: 85%;
	line-height: 2.5;
}

/* TABLES */
table {
	width: 100%;
	margin-top: 20px;
}
table td {
	border: 0;
}
thead th {
	border-bottom: 1px solid #ccc;
	text-align: left;
	padding-left: 5px;
	color: #777;
}
tbody td {
	border-bottom: 1px solid #ccc;
	padding: 7px 5px;
}
tfoot td {
	text-align: right;
	padding: 15px 20px 0 20px;
}
tbody tr:nth-child(even) { background-color: #e8e8e8; }
table a { font-weight: bold; }
.banned { background: #f0cece; }
.merchant { background: #a2b4ee; }
.admin { background: #d5f0ce; }

.matrix td { text-align: center; }
td.matrix-title {
	background: #dbe3f0;
	border-bottom: 1px solid #aab;
	border-right: 1px solid #aab;
	text-align: left;
}
.matrix th {
	padding: 7px 5px;
	background: #dbe3f0;
	margin: 0;
	border-right: 1px solid #aab;
	border-bottom: 1px solid #aab;
}

/* PAGINATION */
.pagination {
	margin: 20px 10px;
}
.pagination a {
	padding: 0 5px;
}

/* !BASIC STRUCTURE */
.main-head, .page, .main-foot {
}
#content .inner {
	padding: 2%;
	width: 96%;
	height: auto;
}
/* !HEADER */
.main-head {
}

/* !PAGE */
.page {
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-size: 0.8125em;
}
.page .inner {
	height: 100%;
	width: 100%;
	padding: 0;
	overflow: hidden;
	position: relative;
}


/* !TOOLBAR */
#toolbar {
	background-color: #2a476a;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(36,53,83)), color-stop(1, rgb(64,90,135)));
	background-image: -moz-linear-gradient(center bottom, rgb(36,53,83) 0%, rgb(64,90,135) 100%);
	border-bottom: 1px solid #394949;
	height: 32px;
	left: 0px;
	padding: 0 0 6px 0;
	text-align: center;
	z-index: 2;
}
#toolbar-left {
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 90;
}
#toolbar-right {
	height: 32px;
	position: absolute;
	right: 1px;
	top: 0px;
	z-index: 90;
}
#nav_right {
	position: absolute;
	right: 0px;
	top: 2px;
	height: 32px;
	vertical-align: middle;
	z-index: 90;
}
#toolbar h1 {
	color: #f6f6f6;
	font-size: 22px;
	line-height: 29px;
	text-shadow: -1px -1px 1px #222;
	padding-top: 4px;
}
#toolbar a:link,
#toolbar a:visited {
	display: inline-block;
	height: 24px;
	width: 24px;
	padding: 5px 10px;
	text-indent: -9999px;
	opacity: 0.5;
}
#toolbar a:hover {
	opacity: 1.0;
}
#toolbar a.current {
	opacity: 1.0;
	background-color: #243553;
	border: 1px solid #3E5783;
	height: 100%;
	padding-bottom: 1px;
	padding-top: 4px;
	border-top: 0;
	border-bottom: 0;
}
#tb_content { background: url(images/pencil.png) 10px 7px no-repeat; }
#tb_stats { background: url(images/statistics.png) 10px 7px no-repeat; }
#tb_appearance { background: url(images/brush.png) 10px 7px no-repeat; }
#tb_settings { background: url(images/settings.png) 10px 7px no-repeat; }
#tb_developer { background: url(images/config.png) 10px 7px no-repeat; }
#tb_logout { background: url(images/logout.png) 10px 7px no-repeat; }

#toolbar a#tb_email { 
	text-indent: 0; 
	width: auto; 
	color: #ddd;
	font-size: 0.8125em;
	padding-right: 0;
}
/* !SUB-NAVIGATION */
.nav-sub {
	display: block;
	width: 100%;
	margin: 0;
	list-style: none;
	background: #222 url(images/bg_fabric_dark.jpg) top left repeat;
	border-bottom: 1px solid #999;
}
.nav-sub a:link,
.nav-sub a:visited {
	display: block;
	width: auto;
	float: left;
	padding: 3px 10px;
	font-size: 0.875em;
	line-height: 2em;
	color: #abb;
}
.nav-sub a.current {
	color: #f7f7f7;
}

form {
	padding: 2px 0 20px 0;
}
form label {
	display: block;
	line-height: 1.5;
	padding-top: 8px;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
	width: 90%;
	padding: 3px 8px;
}
textarea {
	padding: 0 10px;
	line-height: 1.5;
	font-size: 0.875em;
}
input.medium { width: 45%; }
input.tiny { width: 3em !important; }
fieldset {
	margin-top: 40px;
	border-top: 1px solid #ddd;
	padding: 10px 0 10px 0;
}
fieldset legend {
	font-weight: bold;
	padding-right: 15px;
	color: #347;
}
form .spacer {
	margin-top: 30px;
}
label.required {
	font-weight: bold;
}
form div {
	margin-bottom: 0;
}
form div label {
	display: inline-block;
	width: 15%; 
	margin-right: 2%;
	text-align: right;
}
form div input[type=text],
form div input[type=email],
form div input[type=password],
form div textarea {
	width: 60%;
	display: inline-block;
}
form input[type=text],
form input[type=email],
form input[type=password],
form textarea{
	border: 1px solid #ccc;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 3px 5px;
	font-size: 1em;
}
/* Within a constrained area */
.constrained div label {
	width: 25%;
	margin-right: 2%;
}
.constrained div input[type=text],
.constrained div input[type=email],
.constrained div input[type=password],
.constrained div textarea {
	width: 60%;
}
/* Within a panel */
form div.panel textarea {
	width: 98.5%; 
	display: block;
	border: 1px solid #a7a7a7;
}

form .indent {
	margin-left: 28%;
}
div.submits {
	margin-top: 30px;
	padding: 20px 0;
	text-align: right;
	border-top: 1px solid #ccc;
}
form label.horizontal,
form textarea.horizontal {
	display: block;
	text-align: left;
	width: 96%;
}
form div input[type=text].big {
	display: block;
	width: 96%;
	font-size: 1.5em;
}


/*--------------------------------------------------------------------
// UI ELEMENTS
//-------------------------------------------------------------------*/
.vertical-panel {
	height: 100%;
	overflow: hidden;
	width: 260px;
	min-width: 180px;
	border-right: 1px solid #aaa;
	border-left: 1px solid #ccc;
	vertical-align: top;
}
.vsplitbar {
	width: 6px;
	border-left: 1px solid #cdd;
	cursor: col-resize;
}
.scrollable {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.list-view {
	background: #fff;
	font-weight: light;
	color: #777;
}
.list-item {
	padding: 5px 10px;
	border-bottom: 1px solid #d5d5d5;
	cursor: pointer;
	min-height: 3.33em;
	overflow: hidden;
}
.list-item.current {
	background-color: #eee;
	border-bottom: 1px solid #a5a5a5;
}
.list-item p {
	overflow: hidden;
	text-overflow: ellipsis;
}
.list-item > img:first-child {
	float: left;
	padding: 3px;
	margin: 5px 18px 0 10px;
}
.panel-header {
	background: #d6d7d9;
	border-bottom: 1px solid #899;
	padding: 5px 10px;
}
h2.panel-title {
	text-align: center;
	font-size: 1.2em;
	line-height: 2.0em;
	background: #d6d7d9;
	border-bottom: 1px solid #899;
}
.placeholder {
	color: #AAAAAA;
}

/* Search */
input[type=search] {
	border: 1px solid #ccc;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 1px 10px;
}

/* Sliding Pages */
a.page-changer:link,
a.page-changer:visited {
	font-size: 1.375em;
	line-height: 1.0em;
	color: #ccd;
	text-decoration: none;
	cursor: pointer;
	float: right;
}
a.page-changer:hover {
	text-decoration: none;
	color: #aab;
}

/* Pages - Admin */
.page-title {
	border-bottom: 1px solid #ccd;
	line-height: 1.0em;
	padding-bottom: 0.5em;
}
.page-body {
	height: 100%;
	width: 100%;
}