.jumbotron {
    text-align: center;
    margin: 60px 0;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
#login {
    max-width: 300px;
    padding: 19px 29px 14px 29px;
    margin: 20px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
#login h2 {
    font-size: 31.5px;
    line-height: 40px;
    margin-bottom: 10px;
}
#register label.required {
	font-weight: bold;
}